{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% block content %}
<h3 class="block-center-heading">{% trans "Your applications" %}</h3>

<p>
    <a class="btn btn-success" href="{% url 'oauth2_provider:register' %}">
        <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;
        {% trans 'New application' %}
    </a>
</p>

{% if applications %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for app in applications %}
        <tr>
            <td>{{ app.id }}</td>
            <td><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}